---
---

@import "{{ site.theme }}";

body {
  
  //lastit
  background-size: 100% 100%;
  background-color: #ffffff;
  padding:50px;
  font: 14px/1.5 "Noto Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  color:#000000;
  font-weight:400;
}

h1, h2, h3, h4, h5, h6 {
  color:#000000;
  margin:0 0 20px;
}

h2 {
  color:#000000;
}

h3, h4, h5, h6 {
  color:#000000;
}

a {
  color: #ff6ec7;
  font-weight: bold;
  text-decoration:none;
}

a:hover, a:focus {
  color: #9d7bb3;
}

a small {
  font-size:11px;
  color:#ff6ec7;
  margin-top:-0.3em;
  display:block;
}

a:hover small {
  color:#9d7bb3;
}

strong {
  color:#89ecda;
  font-weight:700;
}
