---
---

@import "{{ site.theme }}";

body {
  
  //lastit
  background-size: 100% 100%;
  background-color: #110617;
  padding:50px;
  font: 14px/1.5 "Noto Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #1e2a45;
  font-weight:400;
}

h1, h2, h3, h4, h5, h6 {
  color:#1e2a45;
  margin:0 0 20px;
}

h2 {
  color:#1e2a45;
}

h3, h4, h5, h6 {
  color:#1e2a45;
}

// ff6ec7 pink <3
// 9d7bb3 lav <3
// 363957 blue
// 9A99AA gray

a {
  color: #36598F;
  font-weight: bold;
  text-decoration:none;
}

// 9d7bb3 mauve 

a:hover, a:focus {
  color: #9A99AA;
}

// 363957 blue
// 9A99AA gray
// 9d7bb3 lav <3

a small {
  font-size:11px;
  color: #36598F;
  margin-top:-0.3em;
  display:block;
}

a:hover small {
  color: #9A99AA;
}

// 9A99AA gray
// 363957 blue

strong {
  color: #363957;
  font-weight:700;
}
